@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    border: none;
    outline: none;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

:root {
    --color-active: #59584D;
    --color-inactive: #c4c3b7;
    --color-red-100: #f5aacb;
    --color-red-300: #fa83b6;
    --color-red-600: #f53286;
    --color-green-300: #8fa694;
    --color-green-600: #57795e;
    --color-purple-300: #c5b5eb;
    --color-purple-600: #a789ee;
    --color-yellow-300: #fdeacc;
    --color-yellow-600: #f7b859;
}

.App {
    overflow-x: hidden;
}

.pageContainer {
    display: flex;
    user-select: none;
}